

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}


.column-left {
  float: left;
  width: 45%;
  border-top: 1px solid #dee2e6;
}

.column-right {
  float: left;
  width: 45%;
  border-top: 1px solid #dee2e6;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}